pytest
pycodestyle
apache-airflow
mysqlclient
hdijupyterutils @ git+https://gitlab.com/streamflux-dev/sparkmagic.git@develop#subdirectory=hdijupyterutils
autovizwidget @ git+https://gitlab.com/streamflux-dev/sparkmagic.git@develop#subdirectory=autovizwidget
sparkmagic @ git+https://gitlab.com/streamflux-dev/sparkmagic.git@develop##subdirectory=sparkmagic
papermill @ git+https://github.com/as-sher/papermill.git